@use '../../scss/variables' as *;

input {
	border: none;
	padding: 0.5rem 1.5rem;
	background-color: $black;
	color: $txt-color;
	font-size: 1rem;
   border-radius: $border-radius;
   font-family: $font-family;
}
