@use '../../scss' as *;

.logo {
	font-size: 2.5rem;
	font-weight: 600;

	@include flex(center, unset);

	img {
		width: 50px;
		margin-right: 10px;

		@include mobile {
			width: 30px;
			margin-right: 0;
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	z-index: 99;
	transition: height 0.3s ease, background-color 0.3s ease;

	&.shrink {
		height: $header-shrink-height;
		background-color: $body-bg;
	}

	&__wrap {
		@include flex(center, space-between);
		height: 100%;
		padding: 0 2rem;

		@include mobile {
			justify-content: center;
		}
	}

	&__nav {
		@include flex(center, unset);

		& > * ~ * {
			margin-left: 2rem;
		}

		li {
			font-size: 1.5rem;
			font-weight: 700;
			padding: 5px 0;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				height: 2px;
				background-color: $main-color;
				transform: translateX(-50%);
				transition: width 0.5s ease;
			}

			&.active::after,
			&:hover::after {
				width: 100%;
			}
		}

		@include mobile {
			position: fixed;
			bottom: 0;
			left: 0;
			height: 5rem;
			width: 100vw;
			background-color: $body-bg;
			padding: 0 2rem;
			box-shadow: $box-shadow;

			@include flex(center, space-between);

			& > * ~ * {
				margin-left: 0;
			}
		}
	}
}
